@mixin typo($size, $mod: '') {
    @if ($mod == 'bold') {
        font-weight: 600;
    } @else if ($mod == 'medium') {
        font-weight: 500;
    } @else if ($mod == 'regular') {
        font-weight: 400;
    }

    // heading
    @if ($size == 'h1') {
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
    }

    @if ($size == 'h2') {
        font-weight: 600;
        font-size: 40px;
        line-height: 56px;
    }

    @if ($size == 'h3') {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }

    @if ($size == 'h4') {
        font-size: 20px;
        line-height: 28px;
    }

    @if ($size == 'h5') {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    @if ($size == 'h6') {
        font-size: 16px;
        line-height: 24px;
    }

    // text
    @if ($size == 't1') {
        font-size: 14px;
        line-height: 20px;
    }

    @if ($size == 't2') {
        font-size: 12px;
        line-height: 18px;
    }

    @if ($size == 't3') {
        font-size: 10px;
        line-height: 16px;
    }
}
