.accordion {
    &__item {
        &:not(:first-child) {
            margin-top: 6px;
        }

        &.-active {
            .accordion__item-icon {
                transform: rotate(180deg);
            }

            .accordion__item-body {
                grid-template-rows: 1fr;
            }

            .accordion__item-body-inner {
                opacity: 1;
                transform: none;
            }
        }

        &-head {
            display: flex;
            padding: 4px 0;
            gap: 8px;

            cursor: pointer;
            user-select: none;
        }

        &-title {
            @include typo('t2', 'bold');

            flex: 1;
        }

        &-icon {
            width: 18px;
            height: 18px;

            transition: var(--eodDur2);
        }

        &-body {
            @include slideToggleBody();
        }

        &-body-inner {
            @include slideToggleBodyInner();
        }

        &-body-inner-content {
            padding-bottom: 24px;
        }

        &-description {
            @include typo('t2');

            a {
                @include linkBase();
            }
        }

        &-content {
            &:not(:first-child) {
                margin-top: 24px;
            }
        }
    }
}
