.select {
    &__field {
        background: var(--eodClrWhite1000);
        border-radius: 8px;
    }

    &__bd {
        position: absolute;
        top: 0;
        left: 0;
        z-index: var(--eodZIndexUnder);

        border: 1px solid var(--eodClrGrey300);
        width: 100%;
        height: 100%;

        border-radius: inherit;
        pointer-events: none;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 10px;

        width: 18px;
        height: 18px;

        transform: translateY(-50%);
        pointer-events: none;
    }

    &__input {
        @include typo('t1');

        padding: 0 38px 0 10px;
        width: 100%;
        height: 40px;
    }
}
