.select-multiple {
    &__field {
        overflow: hidden;

        background: var(--eodClrWhite1000);
        border-radius: 8px;
    }

    &__bd {
        position: absolute;
        top: 0;
        left: 0;
        z-index: var(--eodZIndexLocal);

        border: 1px solid var(--eodClrGrey300);
        width: 100%;
        height: 100%;

        border-radius: inherit;
        pointer-events: none;
    }

    &__input {
        display: block;
        padding: 10px 0 10px 10px;
        width: 100%;
    }
}
