.default-layout-body {
    padding: 24px 0;
    flex-grow: 1;

    &__notice {
        padding: 16px var(--eodContainerPaddingX) 0;
    }

    &__block {
        padding: 0 var(--eodContainerPaddingX);

        &_pt {
            padding-top: 24px;
        }

        &_pb {
            padding-bottom: 24px;
        }

        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            gap: 8px;

            &_center {
                text-align: center;

                justify-content: center;
            }

            &-icon {
                width: 18px;
                height: 18px;
            }

            &-text {
                @include typo('h5');
            }
        }

        &-text {
            @include typo('t2');

            a {
                @include linkBase();
            }
        }

        &_variant {
            &_grey {
                background: var(--eodClrGrey100)
            }
        }
    }
}
