.tag-list {
    display: flex;
    width: 100%;
    gap: 4px;

    &:not(.tag-list_wrap) {
        .tag {
            flex: 1;
            max-width: fit-content;
        }
    }

    &_wrap {
        flex-wrap: wrap;
    }
}
