.tag {
    display: inline-flex;
    padding: 2px 4px;

    border-radius: 4px;

    &_variant {
        &_warning {
            color: var(--eodClrWhite1000);

            background: var(--eodClrOrange);
        }

        &_error {
            color: var(--eodClrWhite1000);

            background: var(--eodClrDarkRed1000);
        }
    }

    &__text {
        @include typo('t3');
    }
}
