.form-row {
    display: flex;
    align-items: flex-end;
    gap: 12px;

    &:not(:first-child) {
        margin-top: 16px;
    }

    &_sm {
        &:not(:first-child) {
            margin-top: 8px;
        }
    }
}
