.form-field {
    width: 100%;

    &.-success {
        &>.form-field__response,
        .form-field__main-icon_status {
            color: var(--eodClrDarkGreen1000);

            display: block;
        }
    }

    &.-error {
        &>.form-field__response,
        .form-field__main-icon_status {
            color: var(--eodClrDarkRed1000);

            display: block;
        }
    }

    &_size {
        &_sm {
            max-width: 146px;
        }

        &_md {
            max-width: 280px;
        }
    }

    &__label {
        @include typo('t2');

        display: block;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        a {
            @include linkBase();
        }
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 16px;

        &-icon {
            width: 18px;
            height: 18px;

            &_status {
                display: none;
            }
        }
    }

    &__field {
        position: relative;
        z-index: var(--eodZIndexLocal);

        flex: 1;
    }

    &__response {
        @include typo('t3');

        display: none;
        margin-top: 4px;
    }
}
