.form-slidable-group {
    &.-active {
        .form-slidable-group__head-icon {
            transform: rotate(180deg);
        }
    }

    &__head {
        display: flex;
        gap: 8px;

        cursor: pointer;

        &-label {
            @include typo('t2');
        }

        &-icon {
            width: 18px;
            height: 18px;

            transition: var(--eodDur2);
        }
    }

    &__body-inner-content {
        margin-top: 4px;
        padding: 8px;

        background: var(--eodClrGrey100);
    }
}
