.form-row {
    display: flex;

    &:not(:first-child) {
        margin-top: 16px;
    }

    &_sm {
        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    &>* {
        width: 100%;
    }
}
